{% include 'page/header.html' %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Tentang Kami</h1>
</div>
<!-- Single Page Header End -->

<!-- About Start -->
<div class="container-fluid py-5 mt-5">
  <div class="container py-5">
    <div class="row g-4 mb-5 justify-content-center">
      <div class="col-lg-5">
        <div class="border rounded">
          <a href="#">
            <img src="../static/assets-page/img/Bu-Yanti.jpg" class="img-fluid rounded" alt="Image" />
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-flex flex-column align-items-center">
        <h5 class="fw-bold mb-3 text-center">Profil Toko</h5>
        <p class="mb-4" style="text-align: justify;">
          Selamat datang di Toko Buah Bu Yanti, tempat di mana kesegaran bertemu dengan kualitas. Didirikan pada Februari 2024, toko kami bermula dari cinta terhadap tiga buah musim yang istimewa. Seiring berjalannya waktu, dengan pengalaman dan dedikasi dalam pemilihan buah terbaik, kami terus berkembang menjadi penyedia buah-buahan yang unggul di setiap musim.
        </p>
        <p class="mb-4" style="text-align: justify;">
          Di Toko Buah Bu Yanti, Anda akan menemukan berbagai macam buah segar sesuai musimnya. Kami sangat menjunjung tinggi kesegaran, sehingga Anda tidak perlu ragu akan kualitas buah yang kami tawarkan. Setiap buah dipilih dengan cermat untuk memastikan Anda mendapatkan yang terbaik.
        </p>
        <p class="mb-4" style="text-align: justify;">
          Kami percaya bahwa pengalaman berbelanja langsung jauh lebih berkesan daripada sekadar mendengar cerita. Jadi, datanglah dan lihat sendiri keistimewaan yang kami tawarkan. Selamat berbelanja dan rasakan kesegaran sejati di Toko Buah Bu Yanti!
        </p>
        
        <p class="mb-4" style="text-align: justify;">Jika Anda memiliki pertanyaan atau perlu informasi lebih lanjut, jangan ragu untuk menghubungi admin kami melalui WhatsApp dengan mengklik tombol di bawah ini.</p>
        <a href="https://wa.me/+6283870097769" target="_blank" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary text-center">
          <i class="fab fa-whatsapp me-2 fa-lg text-primary"></i>Hubungi Sekarang
        </a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
{% include 'page/footer.html' %}
