    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
          <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5)">
            <div class="row g-4">
              <div class="col-lg-1">
                <a href="#" style="display: flex; align-items: center;">
                    <img src="../static/images/logo.png" alt="Logo" style="height: 74px; width: 80px;">
                </a>
              </div>
              <div class="col-lg-11">
                <a href="#" style="display: flex; align-items: center;">
                    <h1 class="text-primary mb-0" style="margin: 0;">Toko Buah</h1>
                </a>
                <p class="text-secondary mb-0">Buah Musiman</p>
              </div>
            </div>
          </div>
          <div class="row g-5">
            <div class="col-lg-3 col-md-6">
              <div class="d-flex flex-column text-start footer-item">
                <h4 class="text-light mb-3">Main Menu</h4>
                <a class="btn-link" href="/">Beranda</a>
                <a class="btn-link" href="/pageProduct">Produk</a>
                <a class="btn-link" href="/about">Tentang Kami</a>
                <a class="btn-link" href="/contact">Kontak</a>
            </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Kontak</h4>
                    <a class="btn-link" target="_blank" href="https://maps.app.goo.gl/9XAfwKKGsydm8voBA"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> Ketraman, Adikarso, Kec. Kebumen</a>
                    <a class="btn-link" href="tel:+6283870097769"><i class="fas fa-phone-alt text-secondary me-2"></i>+62 838-7009-7769</a>
                    <a class="btn-link" href="mailto:Riyanti@gmail.com?subject=Pertanyaan&body=Halo,%0ASaya ingin bertanya tentang..."><i class="fas fa-envelope text-secondary me-2"></i>Riyanti@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Waktu Operasional</h4>
                    <a class="btn-link" href="" ><i class="far fa-clock me-2 text-secondary"></i>08.00 - 16.00 WIB</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Hubungi Kami</h4>
                    <a class="btn-link" href="https://www.facebook.com/share/h6Rix3FaumuCchks/?mibextid=qi2Omg" target="_blank" style="font-size: 30px;"><i class="fab fa-facebook text-secondary me-2"></i></a>
                    <a class="btn-link" href="https://wa.me/+6283870097769" target="_blank"  style="font-size: 30px;"><i class="fab fa-whatsapp text-secondary me-2"></i></a>
                </div>
            </div>
        </div>
        </div>
      </div>
      <!-- Footer End -->
  
      <!-- Copyright Start -->
      <div class="container-fluid copyright bg-dark py-4">
        <div class="container text-center">
              <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Copyright 2024</a>, Toko Buah Bu Yanti. All rights reserved</span>
        </div>
      </div>
      <!-- Copyright End -->
  
      <!-- Back to Top -->
      <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top" style="display: none;"><i class="fa fa-arrow-up"></i></a>

      <script>
        $(document).ready(function() {
          var lastScrollTop = 0;
          $(window).scroll(function() {
            var st = $(this).scrollTop();
            if (st > lastScrollTop) {
              // Scroll Down
              $('.back-to-top').fadeIn();
            } else {
              // Scroll Up
              $('.back-to-top').fadeOut();
            }
            lastScrollTop = st;
          });
        });
      </script>
      
      <!-- JavaScript Libraries -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="../static/assets-page/lib/easing/easing.min.js"></script>
      <script src="../static/assets-page/lib/waypoints/waypoints.min.js"></script>
      <script src="../static/assets-page/lib/lightbox/js/lightbox.min.js"></script>
      <script src="../static/assets-page/lib/owlcarousel/owl.carousel.min.js"></script>
  
      <!-- Template Javascript -->
      <script src="../static/assets-page/js/main.js"></script>
    </body>
  </html>
  