{% extends 'admin/templates/base.html' %} 
{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-custom shadow-success border-radius-lg pt-4 pb-3">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <h6 class="text-white text-capitalize ps-3">Tabel Supplier</h6>
            </div>
            <div class="col-6 text-end">
              <a class="btn bg-gradient-custom text-capitalize text-white mb-0 me-4" href="/addSupplier"><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Tambah Supplier</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table id="dataTable" class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nama Supplier</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Alamat</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nomor Telepon</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for supplier in suppliers %}
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <h6 class="mb-0 me-4 text-sm">{{ loop.index }}.</h6>
                    <div>
                      <img src="../static/images/imgSuppliers/{{ supplier.gambar }}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1" />
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{ supplier.nama }}</h6>
                      <p class="text-xs text-secondary mb-0">{{ supplier.email }}</p>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="text-secondary text-xs font-weight-bold">{{ supplier.alamat }}</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">{{ supplier.noTelp }}</span>
                </td>
                <td class="align-middle text-center">
                  <button class="btn btn-link text-danger text-gradient px-3 mb-0" onclick="confirmDelete('{{ supplier._id }}')"><i class="material-icons text-sm me-2">delete</i>Hapus</button>
                  <a class="btn btn-link text-dark px-3 mb-0" href="/editSupplier/{{ supplier._id }}"><i class="material-icons text-sm me-2">edit</i>Edit</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function confirmDelete(supplierId) {
    Swal.fire({
      title: "Apakah Anda yakin?",
      text: "Anda tidak akan dapat mengembalikan ini!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Ya, hapus!",
      cancelButtonText: "Batal",
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = `/deleteSupplier/${supplierId}`;
      }
    });
  }
</script>

{% endblock %}
